<!DOCTYPE html>
<link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/semantic-ui@2.5.0/dist/semantic.min.css">
<script src="https://cdn.jsdelivr.net/npm/semantic-ui@2.5.0/dist/semantic.min.js"></script>
<html>
<head>
<meta charset = "utf-8">
<title></title>
<body>
    <table class="ui celled table">
      <thead>
        <tr>
            <th>乐队名</th>
            <th>乐队简介</th>
            <th>操作</th>
        </tr>
      </thead>
      <tbody>
        {% for user in bands %}
        <tr>
          <td>{{ user["bandName"] }}</td>
          <td>{{ user["bandPredit"] }}</td>
          <td> <button class = "ui button"> 喜欢</button></td>
        </tr>
        {% endfor %}
      </tbody>
    </table> 
</body>
</html>