<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Band User Homepage</title>
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/semantic-ui@2.5.0/dist/semantic.min.css">
    <script src="https://cdn.jsdelivr.net/npm/semantic-ui@2.5.0/dist/semantic.min.js"></script>
</head>
<body>
    <div class="ui container">
        <!-- Header -->
        <div class="ui inverted segment">
            <a float="right" href="/logout" class="ui inverted button">Logout</a>
            <h1 class="ui inverted header">Welcome to the Band User Homepage</h1>
        </div>
        
        <!-- Navigation Menu -->
        <div class="ui menu">
            <a href="/bands" class="item">乐队广场</a>
            <a href="/live" class="item">演唱会一览</a>
        </div>
        <form class="ui form"  action="/bands" method="post">
            
        </form>
        <!-- Main Section -->
    </div>
</body>
</html>
