{% extends '_base.html' %}

{% block title %}Login{% endblock %}

{% block body %}
<div class="ui container">
    <!-- Header -->
    <div class="ui inverted segment">
        <h1 class="ui inverted header">欢迎来到音乐软件</h1>
    </div>

    <!-- Login and Register Forms -->
    <div class="ui centered grid">
        <div class="eight wide column">
            <div class="ui segment">
                {% if error %}
                <div class="ui error message">
                    <i class="close icon"></i>
                    <div class="header">
                        Error
                    </div>
                    <ul class="list">
                        <li>{{ error }}</li>
                    </ul>
                </div>
                {% endif %}
                <form class="ui form" action="{{ url_for('auth.login') }}" method="post">
                    <div class="field">
                        <label>用户名</label>
                        <input type="text" name="username" placeholder="Enter your user ID">
                    </div>
                    <div class="field">
                        <label>密码</label>
                        <input type="password" name="password" placeholder="Enter your password">
                    </div>
                    <button class="ui primary button" type="submit">Login</button>
                    <a href="{{ url_for('auth.register') }}">
                        <button class="ui secondary button" type="button">Register</button>
                    </a>
                </form>
            </div>
        </div>
    </div>
</div>
{% endblock %}